// acme 
@font-face {
    font-family: 'acmeregular';
    src: url('../fonts/acme/acme-regular-webfont.woff2') format('woff2'),
         url('../fonts/acme/acme-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// lobster
@font-face {
    font-family: 'lobsterregular';
    src: url('../fonts/lobster/lobster-regular-webfont.woff2') format('woff2'),
         url('../fonts/lobster/lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// patua one 
@font-face {
    font-family: 'patua_oneregular';
    src: url('../fonts/patuaone/patuaone-regular-webfont.woff2') format('woff2'),
         url('../fonts/patuaone/patuaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// rubik 
@font-face {
    font-family: 'rubikregular';
    src: url('../fonts/rubik/rubik-regular-webfont.woff2') format('woff2'),
         url('../fonts/rubik/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// sniglet
@font-face {
    font-family: 'snigletregular';
    src: url('../fonts/sniglet/sniglet-regular-webfont.woff2') format('woff2'),
         url('../fonts/sniglet/sniglet-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}