// fonts 
$acme-font						: 'acmeregular';
$lobster-font					: 'lobsterregular', cursive;
$patua-font						: 'patua_oneregular', cursive;
$rubik-font						: 'rubikregular', cursive;
$sniglet-font					: 'snigletregular', cursive;

// sizes
$navbar-height        : 80px;

// screens 
$desktopWidth         : 1280px;
$laptopWidth          : 980px;
$tabletWidth          : 767px;
$mobileWidth          : 480px;

// colors 
$default-color        : #f5f5f5;
$primary-color        : #2962ff;
$success-color        : #26de81;
$danger-color         : #fc5c65;
$warning-color        : #fed330;
$light-color          : #e0e0e0;
$purple-color         : #8854d0;
$dark-color           : #2E2E2E;

// gradients 
$primary-grad				  : linear-gradient(to bottom, #82b1ff, #0091ea);

// borders
$bord									: 1px dashed red			